/* body {
    background: url(../images/gusion.png);
    background-size: cover;
    background-repeat: no-repeat;
}
a {
    color: red;
}
h2 {
    color: blue;
    text-align: center;
}
.text-pink {
    color: pink;
}
.list-1 {
    list-style: square;
}
.text-bold {
    font-weight: bold;
}
#activity1{
    text-decoration: none;
} */
.big-img {
    width: 600px;
}
/* .roblox-img {
    /* display: block;
    margin: auto;
} */ 
.thumbnail {
    width: 300px;
    height: 200px;
    object-fit: cover;
}